@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <button class="btn">Default</button>
    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>
</div>
