@import "tailwindcss" source(none);
@plugin "@tailwindcss/typography";
@source "../Pages/**/*.{cshtml}";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    root: ":root";
    include:;
    exclude:;
    prefix:;
    logs: true;
}
