@using Spikylin.Model
@model IEnumerable<Post>

<ul class="list">
    @foreach (var doc in Model)
    {
        <a asp-page="./Post" asp-route-fileName="@doc.FileName">
            <li class="list-row">
                <div class="prose">
                    <h4>[@doc.Markdown.Meta.Date.ToString("yyyy-MM-dd")] @doc.Markdown.Meta.Title</h4>
                    <p>@doc.Markdown.Meta.Description</p>
                    <div>
                        @foreach (var tag in doc.Markdown.Meta.Tags)
                        {
                            <span class="px-1">&num;@tag</span>
                        }
                    </div>
                </div>
            </li>
        </a>
    }
</ul>
