networks:
      tunnel:
        external: true
services:
  spikylin:
    networks:
      - tunnel
    ports:
      - 80:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=80
    container_name: spikylin
    restart: always

# docker compose -p services up -d
