
services:
  spikylin:
    image: ghcr.io/clock1998/spikylin:${TAG}
    networks:
      - tunnel
    ports:
      - 80:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=80
    container_name: spikylin
    restart: always

networks:
  tunnel:
    external: true
    name: tunnel
# docker compose -p services up -d
