@model Spikylin.Pages.Shared.Components.CultureSwitcher.CultureSwitcherModel

<div>
    <form id="culture-switcher">

        <select name="culture"
                id="culture-options"
                class="select select-sm ml-2 w-20"
                hx-get=""
                hx-trigger="change"
                hx-include="this"
                hx-swap="none">

            @foreach (var culture in Model.SupportedCultures)
            {
                <option value="@culture.Name"
                        selected="@(Model.CurrentUICulture.Name == culture.Name)">
                    @culture.DisplayName
                </option>
            }
        </select>
    </form>
</div>